{deps, [
     {lager, ".*", {git, "https://github.com/basho/lager.git", "3.1.0"}},
     {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", "1.2.1"}},
     {folsom, ".*", {git, "https://github.com/boundary/folsom.git", "0.8.2"}},
     {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "0.6"}},
     {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy",
                                {tag, "0.1.7"}}}
     %{mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp.git", "1.2.0"}}
]}.
