% -*- mode: erlang -*-
[
 %% SASL config
 {sasl, [{sasl_error_logger, false} %% use lager instead
         %% {errlog_type, all},
         %% {error_logger_mf_dir, "/tmp/sasl"},     %% dirs
         %% {error_logger_mf_maxbytes, 10485760}, %% 10M per log file.
         %% {error_logger_mf_maxfiles, 10}       %% maxinum number of 10
        ]}
 ].


